.task {
    border:1px solid #E3E3E3;
    background-color: #fff;
    display:flex;
    align-items:center; 
    justify-content: space-between;
    padding:0 20px;
    height: 50px;
}
.title h6 {
    font-weight: normal;
    font-size: 16px;
}
.tdNone {
    text-decoration: none;
}
.tdLineThrough {
    text-decoration:line-through;
}

.DefaultButtons {
    display:flex;
} 
.btn_done {
    margin: 7px 2px;
}
.btn_close {
    margin: 7px 2px;
}
.btn_done:hover, .btn_close:hover {
    cursor:pointer;
}
.imgDone {
    color:green;
    font-size: 25px; 
} 
.imgClose {
    background-color:#FFF;
    color:red;
    font-size: 25px; 
}