.todo {
    width:700px;
    min-height: 350px;
    background-color: #F5F5F5;
    margin: 50px auto;
    border:1px solid #E3E3E3;
    border-radius: 3px;
}

@media screen and (min-width: 414px) {
    .todo {
        width: 320px;
    }
}