.tasks {
    width: 90%;
    margin: 0 auto;
    min-height: 150px;
}

/* No Tasks! */

.noTasks {
    text-align: center;
    user-select: none;
}
.noTasks img {
    width: 200px;
    height: 200px;
}