.active {
    color: #333333 !important;
    font-weight: bold;
}

.list {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding: 10px 0;
}
.list > li {
    user-select: none;
    color:#FFF; 
    font-size: 17px;
    cursor: pointer;
    width: 85%;
    margin: 0 auto;
}
.list > li > a {
    color:#FFF; 
    cursor: pointer;
    text-decoration: none;
}
.list > li:hover {
    transition: all .3s linear;
    border-bottom: 1px solid #1B3660;
    padding: 5px 0px;
}
.sidebar {
    background: #DE557C;
    text-align: center;
    min-width: 270px;
    min-height: 700px;
}
.sidebar h4 {
    font-size: 18px;
    color: #1B3660;
}
.title h3 {
    color: #0048BA;
    font-size: 20px;
    padding-top: 15px
}
.horizontal_line {
    background-color: #EEEEEE;
    width: 90%;
    height: 1px;
    margin: 0 auto;
}