.unitingFlex {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.row {
    display:flex;
    align-items:center;
    width: 90%;
    margin: 0 auto;
    justify-content:space-between;
    padding-top: 20px;
}
.input {
    width: 480px;
    padding:10px;
}
.input:focus {
    border:1px solid #007BFF;
}
.btn_addTask {
    margin: 10px;
    margin-right: 0;
    float:right;
}
.btn_addTask button {
    color:#FFF;
    background: linear-gradient(to right,#006C0A, #28A745);
    border:1px solid #28A745;
    padding: 10px 20px;
    border-radius:5px;
}
.btn_addTask button:hover {
    transition:all .5s ease;
    background: linear-gradient(to right,#28A745, #006C0A);
    color:#8D00A1;
}
.error {
    color:red;
    width:100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}




.deleteAllTasks {
    display:flex;
}
.trashCan {
    font-size: 20px;
    cursor:pointer;
    opacity:0.7;
    margin: 10px;
}

.trashCan:hover {
    transition:all .2s ease;
    opacity:1;
}

.undo {
    cursor:pointer;
    opacity:0.7;
    font-size: 20px;
    margin:10px;
}
.undo:hover {
    transition:all .2s linear;
    opacity:1;
}

@media screen and (min-width: 414px) { 
    .title h4 {
        display: none;
    }
    .error {
        font-size: 1.2rem;
    }
    .input {
        border: 1px solid silver;
        width: 260px;
    }
}