.container {
    display:flex;
    align-items:center;
    width: 90%;
    margin: 0 auto;
    justify-content:space-between;
    padding-top: 20px;
}
.containerHidden {
    display:none;
    width: 50%;
    margin: 0 auto;
}
.input {
    width: 480px;
    padding:10px;
}
.input:focus {
    border:1px solid #007BFF;
}
.managePanel {
    display: flex;
    width:620px;
    justify-content: space-between;
    align-items:center;
    margin: 0 auto;
}
.btn_addTask {
    margin:10px;
}
.btn_addTask button {
    color:#FFF;
    background: linear-gradient(to right,#006C0A, #28A745);
    border:1px solid #28A745;
    padding: 10px 20px;
    border-radius:5px;
}
.btn_addTask button:hover {
    transition:all .5s ease;
    background: linear-gradient(to right,#28A745, #006C0A);
    color:#8D00A1;
}
.warningRedText {
    color:red;
}