body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #7CB9E8, #4F8CBB);
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  cursor:pointer;
}
h3, h4, h5, h6, p {
  font-family: 'Lato', sans-serif;
}
.container {
  width:1170px;
  margin: 0 auto;
}
.d-flex {
  display:flex;
}
.App {
  margin:0 auto;
}
